:root{
    --primary-color:#3E206D;
    --secondary-color: rgba(255,255,255);
    --page-color:#FAFAFA;
    --left-sidebar-color:#682CC6;
    --light-purple-bg:rgba(104, 44, 198, 0.09);
    --black-text: #000000;

    
}
*{
    font-family: 'Roboto', sans-serif;
   

    
 
} 
.warning{
    color: red;
}
body{
   position: absolute;
   background-color: var(--left-sidebar-color)
}
.form-div{
    background-color: var(--secondary-color);
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 22rem;
    height: 30vh;
    top: 35vh;
    bottom:30vh;
    left: 37vw;
    padding: 2rem;
    text-align: center;
    box-shadow: 1px 5px #d3c4c4;
  

}
form{
    width: 80%;
    height: 100%;
}
input{
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    padding: 0;
    border: 1px solid #bab8b8;
   
}
input[type="submit"]{
    background-color: var(--left-sidebar-color);
    color: var(--secondary-color);
    font-size: 20px;
    cursor: pointer;

}
input[type="submit"]:hover{
    background-color: var(--light-purple-bg);
    color: var(--primary-color);
}