header {
    position: fixed;
    top: 0;
    left: 0%;
    height: 75px;
    width: 100%;
    padding: 10px;
    background-color: #3E206D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

img {
    position: absolute;
    width: 196px;
    height: 150px;
    margin-left: 15px;
    left: -5px;
    top: -15px;
}

.header_right a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'roboto';
}

.header_right a:hover {
    background-color: #fff;
    color: #3E206D;
}

.dropbtn {
    background-color:#3E206D;
    color: white;
    padding: 15px;
    font-size: 20px;
    /* margin-right: 15px; */
    border: none;
    cursor: pointer;
    font-family: 'roboto';
    text-transform: lowercase;
  }
  
  .dropdown {
    margin-right: 25px;
    position: relative;
    display: inline-block;
  }
  
  .login-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .login-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    align-items: center;
  }
  
  .login-content a:hover {
    background-color: #3E206D;
    color: #fff;
}
  
  .dropdown:hover .login-content {
    display: block;
  }
  
.dropdown:hover .dropbtn {
    background-color:#fff;
    color: #3E206D;
  }

.container {
    position: absolute;
    left: 330px;
    top: 180px;
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 800px;
    height: 500px;
    font-family: 'Roboto';
    /* border: #3E206D; */
    border-style: solid;
    border-color: #682CC6;
    border-radius: 12px;
}

.login, .signup {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login {
    background: #682CC6;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.signup {
    background-color: #fff;
    /* border: #3E206D; */
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1em;
}

.login h2 {
    color: #fff;
    padding: 20px;
}

.signup h2 {
    color: #3E206D;
    padding: 30px;
}

form {
    width: 75%;
    display: flex;
    flex-direction: column;
}

label {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 1.05em;
    padding: 5px;
    color: #fff;
    left: 5px;
}

input {
    width: 80%;
    height: 3em;
    margin-bottom: 1em;
    border-radius: 5px;
    /* border: 1px solid #ad8b8b; */
    background-color: #fff;
}

::placeholder {
    font-family: 'roboto';
    font-size: medium;
    vertical-align: auto;
}
/* button {
    text-transform: uppercase;
    align-self: center;
    font-size: 1.05rem;
    padding: 1em 3.5em;
    border-radius: 2em;
    cursor: pointer; 
} */

.login button {
    background-color: #fff;
    color: #682CC6;
    text-transform: uppercase;
    align-self: center;
    font-size: 1.05rem;
    padding: 1em 3.5em;
    border-radius: 2em;
    cursor: pointer;
    font-weight: bold;
}

.signup button {
    background-color: #682CC6;
    color: #fff;
    text-transform: uppercase;
    align-self: center;
    font-size: 1.05rem;
    padding: 1em 3.5em;
    border-radius: 2em;
    cursor: pointer;
    font-weight: bold;
}

.loginas {
    display: flex;
    align-items: center;
    color: #fff;
}

.sidebar_category {
    display: flex;
    align-items: center;
    /* padding: 12px; */
}