:root{
    --primary-color:#3E206D;
    --secondary-color: rgba(255,255,255);
    --page-color:#FAFAFA;
    --left-sidebar-color:#682CC6;
    --light-purple-bg:rgba(104, 44, 198, 0.09);
    --black-text: #000000;

    
}
body, html {
    height: 100%;
    margin: 0;

}

.front {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("back-image.jpg");

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    /* clip-path: circle(180vh at 50% -80vh); */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    /* background-color: aliceblue; */
}

.nav-left img {
    /* display: flex; */
    /* justify-content: center;
    align-items: left; */
    height: 140px;
    width: 140px;
    object-fit: cover;
}

.nav-center input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 10px;
    resize: vertical;
  }

.nav-right a{
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
    line-height: 20px;
    text-transform: capitalize;
    
}
.dropbtn {
    background-color:var(--primary-color);
    color: var(--secondary-color);
    padding: 15px;
    font-size: 20px;
    /* margin-right: 15px; */
    border: none;
    cursor: pointer;
    /* font-family: 'roboto'; */
   
  }
  
  .dropdown {
    margin-right: 25px;
    position: relative;
    display: inline-block;
  }
  
  .login-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .login-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    align-items: center;
  }
  
  .login-content a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);

}
  
  .dropdown:hover .login-content {
    display: block;
  }
  
.dropdown:hover .material-icons {
    background-color:rgba(255, 255, 255, 0.3);
    color: var(--primary-color);
  }

.slogan {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.slogan h1 {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
}
.slogan button , .description button{
    border: 1px;
    display: inline-block;
    padding: 10px 30px;
    background-color: #682CC6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.slogan button:hover, .description button:hover {
    background-color: #3E206D;
    
}

.second {
    background-color:aliceblue;
    /* width: 100%; */
    height: 100%;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;

}

.facility {
    display: flex;
    flex-direction: column;
}

.facility h2{
    text-align: center;
    /* position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%); */
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
}

.aboutus {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* margin-left: auto;
    margin-right: auto; */
}

.service {
    margin: 15px;
    /* width: 150px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service img {
    object-fit: cover;
    /* width: 150px;
    height: 150px; */
    /* width: 15vw;
    height: 25vh; */
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 2px solid black;
    /* margin-bottom: 10px; */
}

.service a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px;
    font-family: 'Roboto', 'sans-serif';
    margin-top: 10px;
    cursor: pointer;
}

.service a:hover {
    color: #682CC6;
}

.service img:hover {
    opacity: 0.5;
} 

.intro {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-content: center;
    position: absolute;
    top: 50%; */
    margin-top: 100px;

}

.intro img {
    object-fit: cover;
    display: inline-block;
    width: 170px;
    height: 170px;
    border-radius: 30px;
    opacity: 0.8;
    /* filter: blur(1.5px);
   -webkit-filter: blur(1.5px); */
    margin-left: 25px;
    margin-right: 20px;
}

.classes, .teachers, .vacancies {
    position: relative;
    text-align: center;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 47px;
    text-transform: capitalize;
}

.class, .teacher, .vacancy {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-30%, -50%);
    align-content: center;
}

/* .post img {
    height: 300px;
    width: 300px;
    object-fit: cover;
} */

/* .curve {
    background-color: #3E206D;
} */


.third {
    height: 100%;
    /* display: flex;
    flex-direction: column; */

}

.third-first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#3E206D;
    /* height: auto; */
}

.description {
    width: 50%;
    height: 350px;
    text-align: center;
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-100%, 25%);
}

.description h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 15px;
}

.description p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.post {
    /* background-color: #3E206D; */
    height: 350px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post img {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    /* width: 50%; */
    /* object-fit: cover;
    padding: 20px; */
    object-fit: cover;
    
}

.third-second {
    width: 100%;
    height: fit-content;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}

.touch {
    padding: 40px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.touch h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-transform: capitalize;
    color: black;
}

.respond {
    width: 60%;
    padding: 20px;
}

/* third page */

input[type=submit] {
    background-color: #3E206D;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #682CC6;
}

input[type=text], input[type=number], textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;
    resize: vertical;
  }

  label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-transform: capitalize;

    color: #000000;
  }


  /*footer*/

.forth {
    height: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 100%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:#3E206D;
    padding: 43px 0;
}
.footer-col{
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col img{
	height: 100px;
}

.slogen{
	padding: 10px 0;
	text-align: left;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

#one{
	min-width: 50%;
	max-width: 100%;
	align-items: flex-start;
	text-align: left;

}
#two{
	min-width: 25%;
	max-width: 100%
}
#three{
	min-width: 25%;
	max-width: 100%
}
.txt{
	padding: 50px 0;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a, p, li{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 33%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
